<div class="profile">
  <%= image_tag 'avatar.jpg', alt: "Ken's profile picture", size: '150x150' %>
  <h2>Hi, I'm Ken and I'm a full stack developer<span class="arrow_left"></span></h2>
</div>


<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About Me</h2>
    <hr/>
    <p>
     I'm Ken Hibino, currently in a Computer Science program at State University of New York at Plattsburgh. I'm passionate about Web development and Software Engineering in general. I'm currently looking for a job as a juniour level developer using my skills in Ruby on Rails and AngularJS.  
    </p>

    <p>
     I am currently working for a start-up company called "Intralist" based in New York City. Please visit <a href="https://www.intralist.com">Intralist</a> to see our beta version of the site. 
    </p>

    <p>
     I enjoy outdoor sports (especially soccer) and I recently started getting into work out at the gym. 
    </p>
  </div>



  <div class="col-2 homepage_content">
    <h2>Stuff I've written</h2>
    <hr/>
    <% @articles.each do |article| %>
      <h3><%= link_to article.title, article %></h3>
      <p class="date"><%= article.created_at.strftime("%A, %b %d") %></p>
    <% end %>
    <div class="see_more_button">
      <%= link_to "See more", articles_path, class: 'button uppercase' %>
    </div>
  </div>




  <div class="col-3 homepage_content">
    <h2>Stuff I've built</h2>
    <hr/>
    <% @projects.each do |project| %>
      <h3><%= link_to project.title, project %></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
    <% end %>
    <div class="see_more_button">
      <%= link_to "See more", projects_path, class: 'button uppercase' %>
    </div>
  </div>
</div>