<div class="profile">
  <%= image_tag 'avatar.jpg', alt: "Ken's profile picture", size: '150x150' %>
  <h2>Hi, I'm Ken and<br> I'm a full stack developer<span class="arrow_left"></span></h2>
  <%= form_tag articles_path, method: :get, id: 'articles_search' do %>
    <%= search_field_tag :q, params[:q], placeholder: "Search articles ..." %><button type="submit"><span class="icon-search2"></span></button>
  <% end %>
</div>


<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About Me</h2>
    <hr/>
    <p>
     My name is Ken Hibino, currently in a Computer Science program at State University of New York at Plattsburgh. I'm passionate about Web development with cutting-edge technologies.
    </p>

    <p>I'm originally from Tokyo, Japan. I have lived in Japan, England, and the United States. Traveling has become part of my life over the years. I really enjoy traveling to new places and discovering different cultures.</p>

    <p>
     I also enjoy coding, playing outdoor sports (especially soccer) and working out at the gym. 
    </p>
  </div>



  <div class="col-2 homepage_content">
    <h2>Stuff I've written</h2>
    <hr/>
    <% @articles.each do |article| %>
      <h3><%= link_to article.title, article %></h3>
      <p class="date"><%= article.created_at.strftime("%A, %b %d") %></p>
    <% end %>
    <div class="see_more_button">
      <%= link_to "See more", articles_path, class: 'button uppercase' %>
    </div>
  </div>




  <div class="col-3 homepage_content">
    <h2>Stuff I've worked on</h2>
    <hr/>
    <% @projects.each do |project| %>
      <h3><%= link_to project.title, project %></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
    <% end %>
    <div class="see_more_button">
      <%= link_to "See more", projects_path, class: 'button uppercase' %>
    </div>
  </div>
</div>
