<div class="profile">
  <%= image_tag 'avatar.jpg', alt: "Ken's profile picture", size: '150x150' %>
  <h2>Hi, I'm Ken and I'm a full stack developer</h2>
</div>


<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About Me</h2>
    <hr/>
    <p>
      XOXO authentic keffiyeh gluten-free art party. Portland four dollar toast freegan sartorial semiotics McSweeney's, occupy health goth Shoreditch Marfa pickled sustainable umami pour-over 3 wolf moon. Squid selvage drinking vinegar tilde, PBR pour-over sartorial church-key
    </p>

    <p>
      Fixie deep v swag, DIY Pitchfork butcher locavore Etsy umami ethical wolf hoodie mixtape. Typewriter forage Carles plaid Odd Future chia Echo  <a href="">crucifix vegan</a>.
    </p>

    <p>
      Kitsch blog chillwave, crucifix forage whatever roof party authentic lo-fi. Pickled next level mixtape, selfies street art raw denim flexitarian wayfarers locavore direct trade Kickstarter Austin roof party mumblecore. Neutra asymmetrical Kickstarter ethical High Life. squid plaid. Biodiesel VHS forage brunch artisan pug. Pug Pinterest beard, viral Bushwick next level Echo Park sriracha Austin.
    </p>
  </div>



  <div class="col-2 homepage_content">
    <h2>Stuff I've written</h2>
    <hr/>
    <% @articles.each do |article| %>
      <h3><%= link_to article.title, article %></h3>
      <p class="date"><%= article.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>




  <div class="col-3 homepage_content">
    <h2>Stuff I've built</h2>
    <hr/>
    <% @projects.each do |project| %>
      <h3><%= link_to project.title, project %></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
</div>