<h1 id="page_title">Stuff I've written</h1>


<div id="posts_wrapper" class="skinny_wrapper">
  <%= form_tag articles_path, method: :get do %>
    <%= text_field_tag :q, params[:q], placeholder: "Search articles ..." %>
    <%= submit_tag "Go", name: nil %>
  <% end %>
  <% @articles.each do |article| %>
    <div class="post">
      <p class="date"><%= article.created_at.strftime("%A, %b %d") %></p>
      <h2><%= link_to article.title.titleize, article %></h2>
      <ul class="keywords">
        <% keywords(article).each do |keyword| %>
          <li class="<%= keyword.downcase %>"><%= keyword %></li>
        <% end %>
      </ul>
      <hr>
    </div>
  <% end %>

</div>

<%= will_paginate @articles %>




































